

    <nav class="navbar">
        <a href="#"><i class="fa fa-calendar-o fa-2x"></i></a>
        <a href="/pupple"><i class="fa fa-home fa-2x"></i></a>
        <a href="/user/account"><i class="fa fa-user fa-2x"></i></a>
    </nav>
    </div>
    </body>
</html>
