<!DOCTYPE html>
<html lang="nl">
    <head>
    <title>Pupplefinder</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- link to css -->
    <link rel="stylesheet" type="text/css" href="dist/style.min.css">

    <!-- link to fonts -->
    <link rel="stylesheet" href="https://use.typekit.net/tjt3uao.css"> <!-- josefin sans -->
    <link rel="stylesheet" href="https://use.typekit.net/dnx7fvg.css"> <!-- ubuntu -->
    
    <!-- icon library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
