<%- include('includes/head'); -%>
<%- include('includes/header'); -%>

<section class="error">
<h2>Uh-oh!</h2>
<h2>Er is iets mis gegaan</h2>
<h1>404</h1>
<img class="error-dog" src="/images/error-dog.png" alt="error-dog"> 
<div class="match-shadow"></div>

<div class="buttons"> 
    <a href="/pupple" class="back">Terug naar start</a>
</section>
    



<%- include('includes/footer'); -%>