<%- include('includes/head'); -%>
<%- include('includes/header'); -%>

<h1>Mijn account</h1>
<p>Hier staan al jouw gegevens</p>

<section>
    <!-- dit moet aangepast kunnen worden -->
    <img src="/images/annie.jpeg" alt="Profielfoto">
    <h2>Annie</h2> 

    <h3>Gebruikersnaam</h3>
    <p>annie.thijssen1</p>

    <h3>Telefoonnummer</h3>
    <p>06 32857742</p>

    <a href="#">Wachtwoord wijzigen</a>
</section>
<%- include('includes/footer'); -%>
