<%- include('includes/head'); -%>
<%- include('includes/header'); -%>

<h1> Je hebt een Pupple! </h1>
<p> Jij en <%= pupple %> zijn een match! Klik op bevestigen om jouw pupple date vast te zetten. </p>

<img class="home-dog" src="/images/match-dog.png" alt="match-dog"> 

<div class="match-shadow"></div>

<div class="buttons"> 
<a href="#" class="decline">X</a>
    <form action='/appointments/create' method='post'>
        <button class="next">Bevestigen</button>
    </form>
</div>

<%- include('includes/footer'); -%>