<!DOCTYPE html>
<html lang="en">

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<head>

    <title>Puppiefinder</title>

    <%- include('includes/head'); -%>

</head>

    <%- include('includes/header'); -%>

<body>
    
</body>

</html>