<!DOCTYPE html>
<html lang="nl">

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<head>

    <title>Pupplefinder</title>

    <%- include('includes/head'); -%>

</head>

<body>

    <%- include('includes/header'); -%>
    
</body>

</html>