<%- include('includes/head'); -%>
<%- include('includes/header'); -%>

<h1> Welkom bij Pupples! </h1>
<p> Vind hier jouw perfecte match voor een leuke puppledate en wie weet wordt jij een nieuw baasje voor een asiel pup! </p>

<img class="home-dog" src="/images/home-dog.png" alt="happy-dog">

<div class="shadow"></div>

<a href="/user/login" class="next">Start</a>

<%- include('includes/footer'); -%>
