
    <title>Pupplefinder</title>

    <%- include('includes/head'); -%>

    <%- include('includes/header'); -%>

    <img src="/images/buddy.jpeg" class="fotobuddy" alt="Foto buddy">

<div class="achtergrond">
    <h1 class="title">Buddy</h1>
    <p class="pelementinfo">Buddy is een speelse pup van net 1 jaar oud. In het asiel is Buddy echt een mensenhond, hij zoekt de medewerkers altijd op. Daarom is Buddy een perfecte hond voor iemand die een lekkere lange wandeltocht wilt lopen en een balletje kan gooien. Iets voor jou? Spreek een dag en tijd af!</p>

<div class="floatdiv">
    <img src="/images/calender.png" class="kalendericoon" alt="kalendericoon"> 
    <h3 class="dagkiezen">kies een dag</h3>
</div>

<div class="dagkiezenbuttons">

    <input type="radio" id="label1" name="labeldagkiezen">
    <label for="label1" class="label1">Ma 28/03</label>

    <input type="radio" id="label2" name="labeldagkiezen">
    <label for="label2" class="label1">Di 29/03</label>

    <input type="radio" id="label3" name="labeldagkiezen">
    <label for="label3" class="label1">Wo 30/03</label> 

    <input type="radio" id="label4" name="labeldagkiezen">
    <label for="label4" class="label1">Do 31/03</label>

    <input type="radio" id="label5" name="labeldagkiezen">
    <label for="label5" class="label1">Vr 01/04</label>

    <input type="radio" id="label6" name="labeldagkiezen">
    <label for="label6" class="label1">Za 02/04</label> 

</div>

<div class="floatdiv">
    <img class="klokicoon" src="/images/time-icon.png" alt="klokicoon"> 
    <h3 class="dagkiezen">kies een tijd</h3>
</div>

<div class="dagkiezenbuttons">
    <input type="radio" id="tijd1" name="labeltijdkiezen">
    <label for="tijd1">8:00</label>

    <input type="radio" id="tijd2" name="labeltijdkiezen">
    <label for="tijd2">9:00</label>

    <input type="radio" id="tijd3" name="labeltijdkiezen">
    <label for="tijd3">10:00</label> 

    <input type="radio" id="tijd4" name="labeltijdkiezen">
    <label for="tijd4">11:00</label>

    <input type="radio" id="tijd5" name="labeltijdkiezen">
    <label for="tijd5">12:00</label>

    <input type="radio" id="tijd6" name="labeltijdkiezen">
    <label for="tijd6">13:00</label> 

    <input type="radio" id="tijd7" name="labeltijdkiezen">
    <label for="tijd7">14:00</label>

    <input type="radio" id="tijd8" name="labeltijdkiezen">
    <label for="tijd8">15:00</label> 

    <input type="radio" id="tijd9" name="labeltijdkiezen">
    <label for="tijd9">16:00</label>

    <input type="radio" id="tijd10" name="labeltijdkiezen">
    <label for="tijd10">17:00</label>

    <input type="radio" id="tijd11" name="labeltijdkiezen">
    <label for="tijd11">18:00</label> 

    <input type="radio" id="tijd12" name="labeltijdkiezen">
    <label for="tijd12">19:00</label>

</div>

<div class="floatdiv">
    <img src="/images/locationicon.png" class="locatieicoon" alt="locatieicoon"> 
    <h3 class="dagkiezen">Vind Buddy</h3>

</div>

<div class="buttons">

<a href="#" class="decline1">X</a>
<a href="#" class="bevestig1">Bevestigen</a>

</div>

</div>

<%- include('includes/footer'); -%>