
    <title>Pupplefinder</title>

    <%- include('includes/head'); -%>

    <%- include('includes/header'); -%>
    <img src="/images/buddy.jpg" class="fotobuddy" alt="Foto buddy">
    <section class="info-card">

        <div class="info-text">
            <h1>Buddy</h1>
            <p>Buddy is een speelse pup van net 1 jaar oud. In het asiel is Buddy echt een mensenhond, hij zoekt de medewerkers altijd op. Daarom is Buddy een perfecte hond voor iemand die een lekkere lange wandeltocht wilt lopen en een balletje kan gooien. Iets voor jou? Spreek een dag en tijd af!</p>
        </div>

        <div class="info-container">
            <i class="fa fa-calendar-o fa-2x"></i>
            <h3>Kies een dag</h3>
        </div>  
        <div class="date-buttons">
            <input type="radio" id="label1" name="choose-day">
            <label for="label1">Ma 28/03</label>

            <input type="radio" id="label2" name="choose-day">
            <label for="label2">Di 29/03</label>

            <input type="radio" id="label3" name="choose-day">
            <label for="label3">Wo 30/03</label> 

            <input type="radio" id="label4" name="choose-day">
            <label for="label4">Do 31/03</label>

            <input type="radio" id="label5" name="choose-day">
            <label for="label5">Vr 01/04</label>

            <input type="radio" id="label6" name="choose-day">
            <label for="label6">Za 02/04</label> 
        </div>
       

        <div class="info-container">
            <i class="fa fa-clock-o fa-2x"></i>
            <h3>Kies een tijd</h3>
        </div>

        <div class="date-buttons">
            <input type="radio" id="time1" name="choose-time">
            <label for="time1">8:00</label>

            <input type="radio" id="time2" name="choose-time">
            <label for="time2">9:00</label>

            <input type="radio" id="time3" name="choose-time">
            <label for="time3">10:00</label> 

            <input type="radio" id="time4" name="choose-time">
            <label for="time4">11:00</label>

            <input type="radio" id="time5" name="choose-time">
            <label for="time5">12:00</label>

            <input type="radio" id="time6" name="choose-time">
            <label for="time6">13:00</label> 

            <input type="radio" id="time7" name="choose-time">
            <label for="time7">14:00</label>

            <input type="radio" id="time8" name="choose-time">
            <label for="time8">15:00</label> 

            <input type="radio" id="time9" name="choose-time">
            <label for="time9">16:00</label>

            <input type="radio" id="time10" name="choose-time">
            <label for="time10">17:00</label>

            <input type="radio" id="time11" name="choose-time">
            <label for="time11">18:00</label> 

            <input type="radio" id="time12" name="choose-time">
            <label for="time12">19:00</label>
        </div>

        <div class="info-container">
            <i class="fa fa-map-marker fa-2x"></i>
            <h3>Vind Buddy</h3>
        </div>

        <div class="buttons">
        <a href="/pupple" class="decline">X</a>
        <a href="/confirm" class="volgende">Bevestigen</a>
        </div>
    </section>  

<%- include('includes/footer'); -%>