<%- include('includes/head'); -%>
<%- include('includes/header'); -%>
<main class='full-vertical'>
    <header>
        <h1 class="stapheader">Inloggen</h1>
        <p class="pelementinlog">Nog geen account? Registreer <a href="/user/register">hier</a> </p>
    </header>
    <section class='content-container'>
        <form class="vertical-form login" action="/user/login" method="post">
            <div class='form-group'>
                <label class="content-container_label" for="email">Email</label>
                <input class="inputregistreren" type="email" name="email" id="email" value="" required>
            </div>

            <div class='form-group'>
                <label class="content-container_label" for="password">Wachtwoord</label>
                <input class="inputregistreren" type="password" name="password" id="password" required>
            </div>

            <button class="volgende">Inloggen</button>
        </form>
    </section>
</main>

