<%- include('includes/head'); -%>
<%- include('includes/header'); -%>

<!-- <section>
    <header>
        <h1>Inloggen</h1>
    </header>
    <form action="/user/login" method="post">
        <fieldset>
            <legend>Login Form</legend>
            <p id="emailSection">
                <label for="email">Email</label>
                <input type="email" name="email" id="email" value="" required>
            <p class="error"></p>
            <p id="passwordSection">
                <label for="password">Password</label>
                <input type="password" name="password" id="password" required>
            </p>
            <p class="controls">
                <button type="submit" id="loginBtn">Log In</button>
            </p>
        </fieldset>
    </form>
    <footer>
        <a href="/user/register">Nog geen account?</a>
    </footer>
</section> -->

<h1 class="stapheader">Inloggen</h1>

<p class="pelementinlog">Nog geen account? Registreer <a href="/user/register">hier</a> </p>

<div class="inlogscherm4">
    
    <a href="/">
        <img class="terug" src="/images/arrowback.png" alt="terugpijl">
    </a>

    <form action="/user/login" method="post">

    <label class="pinform" for="email">Email</label>
    <input class="inputregistreren" type="email" name="email" id="email" value="" required>

    <label class="pinform" for="password">Wachtwoord</label>
    <input class="inputregistreren" type="password" name="password" id="password" required>

    <div class="centerbuttondiv">
    <button class="volgende">Inloggen</button>
    </div>

    </form>
</div>


