
    <title>Pupplefinder</title>
    <%- include('includes/head'); -%>

    <%- include('includes/header'); -%>
    <div class="cards">
        <img src="/images/Buddy.jpg" alt="Puppy">
        <div class="container">
            <h1>Buddy</h1>
            <p>DOA Amsterdam</p>

            <ul>
                <li>1 jaar</li>
                <li>Speels Karakter</li>
                <li>2 uur</li>
            </ul>
        </div>
    </div>

    <div class="buttons">
        <a href="#" class="decline">X</a>
        <a href="/pupple/info" class="next">Uitnodigen</a>
    </div>
    
    
    <%- include('includes/footer'); -%>
