<%- include('includes/head'); -%>
<%- include('includes/header'); -%>

<!-- <section>

    <header>
        <h1>Registreren</h1>
    </header>
    <form action="/user/register" method="post">
        <fieldset>
            <legend>Account Information</legend>
            <p class="file-upload">
                <label for="avatar">
                    <input type="file" name="avatar" id="avatar" accept="image/jpeg, image/png">
                </label>
            </p>
            <p>
                <label for="email">Email</label>
                <input type="email" name="email" id="email" required>
            </p>
            <p>
                <label for="password">Password</label>
                <input type="password" name="password" id="password" required>
            </p>
            <p>
                <label for="rpassword">Password</label>
                <input type="password" name="rpassword" id="rpassword" required>
            </p>
            <p>
                <label for="name">Name</label>
                <input type="text" name="name" id="name" required>
            </p>
            <p class="controls">
                <button type="submit">Sign Up</button>
            </p>
        </fieldset>
    </form>
    <footer>
        <a href="/user/login">Heb je al een account?</a>
    </footer>
</section> -->

<img src="/images/progressionbar1.png" class="progressionbar" alt="progressionbar">

<h1 class="stapheader">Stap 1</h1>

<p class="pelementinlog">Upload een profielfoto en vul je naam in</p>

<div class="inlogscherm">
    <a href="/user/login">
        <img class="terug" src="/images/arrowback.png" alt="terugpijl">
    </a>
    <form action="/user/register1">
    <p class="file-upload">
        <label for="avatar" id="labelavatar">
            <input type="file" name="avatar" id="avatar" accept="image/jpeg, image/png">
         </label>
    </p>
    <p class="pinform">Naam</p>
    <input class="inputregistreren" type="text">
    <p class="pinform">Telefoonnummer</p>
    <input class="inputregistreren" type="tel">
    

    <div class="centerbuttondiv">
    <button class="volgende">Volgende</button>
    </div>
    </form>
</div>


