<%- include('includes/head'); -%>
<%- include('includes/header'); -%>

<img src="/images/progressionbar1.png" class="progressionbar" alt="progressionbar">

<h1 class="stapheader">Stap 1</h1>

<p class="pelementinlog">Upload een profielfoto en vul je naam in</p>

<div class="inlogscherm">
    <a href="/user/login">
        <img class="terug" src="/images/arrowback.png" alt="terugpijl">
    </a>
    <form action="/user/register1">
    <p class="file-upload">
        <label for="avatar" id="labelavatar">
            <img class="plusje" src="/images/plusaddavatar.png" alt="terugpijl">
            <input type="file" name="avatar" id="avatar" accept="image/jpeg, image/png">
         </label>
    </p>
    <p class="pinform">Naam</p>
    <input class="inputregistreren" type="text">
    <p class="pinform">Telefoonnummer</p>
    <input class="inputregistreren" type="tel">
    

    <div class="centerbuttondiv">
    <button class="volgende">Volgende</button>
    </div>
    </form>
</div>