<%- include('includes/head'); -%>
<%- include('includes/header'); -%>

<img src="/images/progressionbareind.png" class="progressionbar" alt="progressionbar">

<h1 class="stapheader">Overzicht</h1>

<p class="pelementinlog">Hier zie je een overzicht van alle ingevulde informatie</p>

<div class="inlogscherm3">
    <p class="pinform1">Overzicht</p>

    <h3 class="dikgedruktoverzicht">Naam</h3>
    <p class="pinform1">Annie Thijssen</p>

    <h3 class="dikgedruktoverzicht">Telefoonnummer</h3>
    <p class="pinform1">06-24650392</p>
    
    <h3 class="dikgedruktoverzicht">Leeftijd</h3>
    <p class="pinform1">72 Jaar</p>

    <h3 class="dikgedruktoverzicht">Mobiliteit</h3>
    <p class="pinform1">Niks</p>

    <h3 class="dikgedruktoverzicht">Gebruikersnaam</h3>
    <p class="pinform1">annie.thijssen1</p>

    <h3 class="dikgedruktoverzicht">Wachtwoord</h3>
    <p class="pinform1">[REDACTED]</p>

    <div class="centerbuttondiv">
    <button class="volgende">registreer</button>
    </div>

</div>

<%- include('includes/footer'); -%>
