<%- include('includes/head'); -%>
<%- include('includes/header'); -%>

<main class='full-vertical'>
    <header>
        <img src="/images/progressionbar1.png" class="progressionbar" alt="progressionbar">
        <h1 class="stapheader">Stap 1</h1>
        <p class="pelementinlog">Upload een profielfoto en vul je naam in</p>
    </header>
    <section class="content-container">
        <a href="/user/login">
            <img class="terug" src="/images/arrowback.png" alt="terugpijl">
        </a>

        <form action="/user/register/2" method="post" class="vertical-form" enctype="multipart/form-data">
            <p class="file-upload">
                <label for="avatar" id="labelavatar">
                    <img class="plusje" src="/images/plusaddavatar.png" alt="terugpijl">
                    <input type="file" name="avatar" id="avatar" accept="image/jpeg, image/png">
                </label>
            </p>

            <div class="form-group">
                <label class="content-container_label" for="name">Naam</label>
                <input class="inputregistreren" type="text" name="name" id="name">
            </div>

            <div class="form-group">
                <label class="content-container_label" for="phone">Telefoonnummer</label>
                <input class="inputregistreren" type="tel" name="phone" id="phone">
            </div>

            <button class="volgende">Volgende</button>
        </form>

    </section>
</main>
<script defer>
  const avatarInput = document.querySelector('#avatar');
  const avatarLabel = document.querySelector('.file-upload label');
  const reader = new FileReader();
  reader.addEventListener('load', (e) => {
    avatarLabel.style.backgroundImage = `url(${e.target.result})`;
  });

  avatarInput.addEventListener('change', (e) => {
    reader.readAsDataURL(e.target.files[0]);
    avatarLabel.style.setProperty('--plus', ' ');
    avatarLabel.style.setProperty('--avatar', ' ');
  });
</script>