<%- include('includes/head'); -%>
<%- include('includes/header'); -%>

<img src="/images/progressionbar2.png" class="progressionbar" alt="progressionbar">

<h1 class="stapheader">Stap 2</h1>

<p class="pelementinlog">Vul jouw leeftijd en mobiliteit in</p>

<div class="inlogscherm1">
    <a href="/user/register">
        <img class="terug" src="/images/arrowback.png" alt="terugpijl">
    </a>
    <form action="/user/register2">

    <p class="pinform">Leeftijd</p>
    <input class="inputregistreren" type="text">


    <p class="pinform">Mobiliteit</p>

<div class="centerdiv">
<div class="mobiliteitbuttons">

    <input type="radio" id="mobiliteit1" name="mobiliteit1">
    <label for="mobiliteit1" class="mobiliteit1"><img class="mobiliteitimage" src="/images/disability.png" alt=""></label>

    <input type="radio" id="mobiliteit2" name="mobiliteit2">
    <label for="mobiliteit2" class="mobiliteit2"><img class="mobiliteitimage" src="/images/walker.png" alt=""></label>

    <input type="radio" id="mobiliteit3" name="mobiliteit3">
    <label for="mobiliteit3" class="mobiliteit3"><img class="mobiliteitimage" src="/images/niks.png" alt=""></label> 

</div>
</div>
    <div class="centerbuttondiv">
    <button class="volgende">Volgende</button>
    </div>
    </form>
</div>
