.match-shadow {
  background-color: var(--pupple-shadow-color);
  width: 10em;
  height: 2em;
  border-radius: 100%;
  margin: 0 auto;
  margin-top: -3em;
}

.buttons {
  display: flex;
  gap: 0;
  width: 70%;
  margin: 0 auto;
}
