.home-dog {
  width: 20em;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4em;
}

.shadow {
  background-color: var(--pupple-shadow-color);
  width: 10em;
  height: 2em;
  border-radius: 100%;
  margin: 0 auto;
  margin-top: -3.5em;
}

.start {
  background-color: var(--grey-color);
  color: var(--green-color);
  font-family: ubuntu, sans-serif;
  font-weight: 600;
  font-size: 1.5em;
  text-decoration: none;
  border: none;
  text-align: center;

  display: block;
  padding: 0.5em;
  border-radius: 0.5em;
  width: 8em;
  height: 2.1em;
  margin: 0 auto;
  margin-top: 3.5em;
}
