.fotobuddy {
  margin-top: 6em;
  max-width: 100%;
  border-top-left-radius: 2em;
  border-top-right-radius: 2em;
}

.info-card {
  background-color: var(--grey-color);
}

.info-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
}

.info-text h1,
.info-container h3,
.map-container h3,
.info-text p {
  color: var(--black-color);
  padding: 0;
}

.info-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1em;
  padding: 20px;
  color: var(--black-color);
}

.map-container {
  display: flex;
  flex-flow: row wrap;
  gap: 1em;
  padding: 20px;
  color: var(--black-color);
}

.map-container h3 {
  align-self: center;
}

.map-container #map {
  height: 25em;
  width: 100%;
  border-radius: 1em;
}

.info-container .fa {
  max-width: 12%;
}

.date-buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0 20px;
}

.date-buttons input[type='radio'] {
  position: fixed;
  width: 0;
}

.date-buttons label {
  background-color: var(--dark-grey-color);
  padding: 10px 18px;
  margin: 0.1em;
  border-radius: 4px;
  width: 6.8em;
  text-align: center;
}

.date-buttons input[type='radio']:checked + label {
  box-shadow: inset 0 0 0 4px var(--green-color);
}

.info-card .buttons .decline {
  background-color: var(--dark-grey-color);
}
