.cards {
  background-color: var(--grey-color);
  border-radius: 2em;
  margin: 2em;
  width: 90vw;
  box-shadow: 0 5px 20px var(--dark-orange-color);
}

.cards img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-top-left-radius: 2em;
  border-top-right-radius: 2em;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  min-height: 200px;
}

.cards h1 {
  color: var(--black-color);
}

.cards ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  margin-top: 2em;
}

.cards ul li {
  text-align: center;
  margin-right: 1em;
  background-color: var(--green-color);
  color: var(--grey-color);
  border-radius: 2em;
  padding: 0.25em 1em 0.25em 1em;
  box-shadow: 0 5px 10px var(--dark-grey-color);
}
