.full-vertical {
  display: flex;
  flex-direction: column;
  height: calc(100% - 86px);
}

.full-vertical header {
  margin-bottom: 1em;
}

.content-container {
  background-color: var(--grey-color);
  border-radius: 2em 2em 0 0;
  height: 100%;
  padding: 2em;
}

.back-button {
  margin-bottom: 24px;
}

.content-container_label {
  display: block;
  color: var(--black-color);
  font-weight: 400;
  font-size: 1.2em;
  padding: 0 0 0.2em;
  margin-bottom: 8px;
}

.vertical-form {
  display: flex;
  flex-direction: column;
  height: calc(100% - 50px);
}

.vertical-form.login {
  margin-top: 2em;
}

.form-group {
  margin-bottom: 24px;
}

.file-upload label {
  background-repeat: no-repeat;
  background-size: cover;
}

.progressionbar {
  margin-top: 2em;
  margin-left: 1.5em;
}

.stapheader {
  padding-top: 0.5em;
}

.pelementinlog {
  max-width: 80%;
}

.inputregistreren {
  width: 80%;
  padding: 0.5em;
  border-radius: 0.5em;
  background-color: var(--dark-grey-color);
  border: none;
}

input[type='file'] {
  display: none;
}

#labelavatar {
  display: block;
  position: relative;
  margin: auto auto 30px;
  aspect-ratio: 1/1;
  width: 125px;
  background-color: var(--dark-grey-color);
  border-radius: 100%;
  cursor: pointer;
}

#labelavatar img {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

.pinform {
  color: var(--black-color);
  padding-bottom: 0.2em;
}

.pinform1 {
  color: var(--black-color);
  margin-top: 0;
  margin-bottom: 1em;
  padding-left: 0;
}

.mobiliteitimage {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  width: 55px;
  height: 55px;
}

.mobiliteitbuttons {
  display: flex;
  justify-content: space-between;
  margin-top: 1em;
  width: 100%;
}

.mobiliteitbuttons input[type='radio'] {
  opacity: 0;
  position: fixed;
  width: 0;
}

.mobiliteitbuttons input[type='radio']:checked + label {
  border: 4px solid var(--green-color);
}

.mobiliteitbuttons label {
  position: relative;
  display: inline-block;
  background-color: var(--dark-grey-color);
  padding: 1em 1.2em;
  border-radius: 100%;
  height: 100px;
  width: 100px;
}

.volgende {
  display: block;
  background-color: var(--green-color);
  color: var(--grey-color);
  font-family: ubuntu, sans-serif;
  font-weight: 600;
  font-size: 1.5em;
  text-decoration: none;
  border: none;
  text-align: center;
  padding: 0.5em;
  border-radius: 0.5em;
  width: 8em;
  height: 2.1em;
  margin: auto auto 0;
  margin-bottom: 1em;
}

.dikgedruktoverzicht {
  color: var(--black-color);
  padding-top: 0.2em;
}
