/*  main styling */
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --white-color: #ffffff;
  --grey-color: #f8f8f8;
  --dark-grey-color: #e8e8e8;
  --green-color: #85a58a;
  --black-color: #000000;
  --pupple-shadow-color: #9f4c00;
  --dark-orange-color: #cc6100;
}

html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  background-image: linear-gradient(180deg, #ffa000, #cc6100);
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.wrapper {
  width: 100%;
  background-image: linear-gradient(180deg, #ffa000, #cc6100);
  background-attachment: fixed;
  background-repeat: no-repeat;
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  height: 100%;
  overflow: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.wrapper::-webkit-scrollbar {
  display: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: ubuntu, sans-serif;
  font-weight: 700;
  color: var(--grey-color);
}

h1 {
  padding-left: 0.8em;
  padding-top: 2em;
}

p {
  font-family: josefin-sans, sans-serif;
  font-weight: 400;
  font-size: 1.2em;

  color: var(--grey-color);
  padding-left: 1.5em;
  padding-right: 1em;
  margin-top: 1em;
}

label,
ul,
li {
  font-family: josefin-sans, sans-serif;
  font-weight: 400;
  color: var(--black-color);
  padding-left: 1.5em;
  padding-right: 1em;
  padding-top: 1.5em;
}

a {
  font-family: josefin-sans, sans-serif;
  font-weight: 700;
  font-size: 1.2em;

  color: var(--grey-color);
}

.logo {
  width: 10em;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.5em;
}

@media only screen and (min-width: 501px) {
  .wrapper {
    max-width: 500px;
    max-height: 1000px;
  }
}
