/*  main styling */
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --grey-color: #f8f8f8;
  --dark-grey-color: #e8e8e8;
  --green-color: #85a58a;
  --black-color: #000000;
  --dark-orange-color: #cc6100;
}

body {
  background-image: linear-gradient(180deg, #ffa000, #cc6100);
  background-attachment: fixed;
  background-repeat: no-repeat;
  position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: ubuntu, sans-serif;
  font-weight: 700;
  color: var(--grey-color);
}

p {
  font-family: josefin-sans, sans-serif;
  font-weight: 400;
  color: var(--black-color);
}

body > img:first-of-type {
  width: 8em;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
