/*  main styling */
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --grey-color: #f8f8f8;
  --dark-grey-color: #e8e8e8;
  --green-color: #85a58a;
  --black-color: #000000;
}

body {
  background-image: linear-gradient(180deg, #ffa000, #cc6100);
  position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: ubuntu, sans-serif;
  font-weight: 700;
  color: var(--black-color);
}

p,
label {
  font-family: josefin-sans, sans-serif;
  font-weight: 400;
  color: var(--black-color);
}
